<html>
<head>
    <title>NatLab</title>

    
    <!-- Theme Neptune -->
    <link rel="stylesheet" type="text/css" href="ext-4/resources/ext-theme-neptune/ext-theme-neptune-all.css">

    <!-- CSS personal -->
    <link rel="stylesheet" type="text/css" href="ext-4/miCss.css">

    <!-- Libreria Ext -->
    <script type="text/javascript" src="ext-4/ext-debug.js"></script>

    <!-- Traduccion al espanol -->
    <script type="text/javascript" src="ext-4/locale/ext-lang-es.js"></script>

    <!-- Aplicacion ExtJs -->
    <script type="text/javascript" src="app.js"></script>
    
</head>
  <body>

  </body>
</html>